body{
	background-color: #2c0d01;
	}

#wrapperHeading {
	background-image: url('/assets/fragment/site_bgnd/bgnd_valencia_v2.jpg');
	background-position:center top;
	background-repeat:no-repeat;
	}

#contentSub .subModule a.rhsPromoButton {
	display:block;
	width:235px;
	height:60px;
	background-image:url('/assets/fragment/promo_buttons/_generic.jpg');
	background-position:0px 0px;
	}
	
#contentSub .subModule a:hover.rhsPromoButton {
	background-position:0px -60px;
	}
