/*
*   Main Navigation
*/

#nav {
    margin: 0;
    clear: both;
	padding-left:10px;
	z-index:100;
}

ul#primaryNav,
ul#primaryNav ul,
div#tertiaryNav {
    display: block;
    clear: both;
    margin: 0 5px 0 0;
}

ul#primaryNav li{
	margin: 0 0 25px;
	overflow: hidden;
}


ul#primaryNav ul {
    position: absolute;
    left: -999em;
}

ul#primaryNav li:hover ul,
ul#primaryNav li.current ul{
    left: auto;    
	text-decoration: none;
}

div#tertiaryNav {
    padding: 5px 0;
    margin: 0;
	position: relative;	
	z-index: 999;
	}

div#tertiaryNav div {
   	background: #D9D9D9;
    min-height:25px;
	display:none;
	margin: 5px 5px 0 0;
}

div#tertiaryNav div.tertiaryNavItem {
    position: relative;
    overflow: visible;
}

div#tertiaryNav div span {
    display: none;
    float: left;
    padding: 5px 10px;
    margin: 0 5px 0 0;
    background: #535353;
}

div#tertiaryNav div.tertiaryNavItem span {
    display: block;
}

div#tertiaryNav div span a {
    display: block;
    padding: 0 0px 0 0;
    /* font-weight: bold; */
    font-size: 1.2em;
}

div#tertiaryNav div span a img{
    margin:0 2px 2px 5px;
    padding: 0 0px 0 0;

}
ul#primaryNav li {
    float: left;
    background: #262626 url(/assets/fragment/sprites/l1-bgnd-26-00.jpg) repeat-x scroll 0 0;
}

ul#primaryNav li.navVIDEO,
ul#primaryNav li.navTICKETSTRAVEL,
ul#primaryNav li.navF1STORE,
ul#primaryNav li.navMOBILE {
	background-position: 0 -25px;
	border-left:#000000 1px solid;
}

ul#primaryNav li.navVIDEO a,
ul#primaryNav li.navTICKETSTRAVEL a,
ul#primaryNav li.navF1STORE a,
ul#primaryNav li.navMOBILE a {
	color: #ff7200;
}

ul#primaryNav ul li,
div#tertiaryNav ul li,
div#tertiaryNav ul li.current,
div#tertiaryNav div.tertiaryNavItem li.current {
    display: block;
    float: left;
    background: #535353;
}

div#tertiaryNav ul {
    overflow: auto;
    display: block;
}

div#tertiaryNav ul li {
    padding: 5px 10px;
    background: #2F2F2F;
}

div#tertiaryNav div.tertiaryNavItem ul {
    position: absolute;
    z-index: 100;
    left: -999em;
    float: left;
    background: #2F2F2F;    
}

div#tertiaryNav div.tertiaryNavItem ul li {
    float: none;
	padding-right:20px;
}

div#tertiaryNav ul li.empty {
    background: none;
}

ul#primaryNav li a {
    display: block;
    padding: 5px 10px;
    min-height:15px;
    color: #fff;
    font-size: 1.2em;
}

ul#primaryNav li a.srv {
    display: block;
    padding: 5px 10px;
    min-height:15px;
    color: #ff0000;
    font-size: 1.2em;
}

div#tertiaryNav ul li a {
    display: block;
    font-size: 1.2em;
}

div#tertiaryNav ul li.current a {
    display: block;
    padding: 0 20px 0 0;
    font-weight: bold;
    font-size: 1.2em;
}
ul#primaryNav li a:hover {
	text-decoration: underline;
}
div#tertiaryNav ul li a:hover {
    text-decoration: underline;
}
div#tertiaryNav span a:hover {
    text-decoration: none;
}
div#tertiaryNav ul li.current a:hover {
  /* text-decoration: underline; */
  text-decoration: none;
}

ul#primaryNav li span a{
    display: block;
    padding: 5px 10px;
    font-size: 1.2em;
}

 /*ul#primaryNav li ul li span a,
ul#primaryNav li ul li a:hover {
    background: url(/img/decals/nav_arrow_ltbg.gif) no-repeat 50% 0; 
	text-decoration: underline;*/


    /*  SecondaryNav indentation */


ul#primaryNav li.navSERVICES_en ul {
    margin-left: 0px;
	}
    /* END SecondaryNav indentation */

/* END Main Navigation */

/* Footer */
#footer{
    clear: both;
    position: relative;
	height: 75px;
	}

#footerBar{
	width:960px;
	height:52px;
	background-image:url(/img/footer/fill.jpg);
	background-repeat:repeat-x;
	}
	

#footerBar .section1{
	float:left;
	background-image:url(/img/footer/endleft.jpg);
	background-repeat:no-repeat;
	width:248px;
	height:52px;
	}

#footerBar .section2{
	float:left;
	margin:20px 0 0 10px;
	}

#footerBar .section2 li{
	display: inline;
	list-style-type: none;
	margin:0 10px 0 0;
	font-size:1.2em;
	}
	
#footerBar .divLine{
	float:left;
	margin:0 0 0 10px;
	}

#footerBar .section3{
	float:right;
	background-image:url(/img/footer/endright.jpg);
	background-repeat:no-repeat;
	height:52px;
	width:53px;
	}
	
#footer #copyrightLine{
	clear:both;
	position:relative;
	float:left;
	margin:5px 0 0 0;
	}

