/*
*   Print Stylesheet
*/

body {
    font-family: Arial, Verdana, Helvetica, Sans-serif;
}

div#nav,
div#contentSub,
div#footer,
a#skipNav {
    display: none;
}

h1 {
    padding: 0 0 20px;
    border-bottom: 1px dotted #000;
}

h1 img#blackImage {
    display:none;
}
h1 img#whiteImage {
    border: 0;
    display:block;
}

div#contentMain,
div.contentContainer {
    width: 100%;
}

h2 {
    font-size: 1.0em;
    margin: 0 0 10px 0;
}

.raceCalender {
    width: 100%;
    padding: 0 0 20px;
    border-bottom: 1px dotted #000;
}

.raceCalender td {
    padding: 3px;
    font-size: 0.7em;
}

table.raceCalender td a {
    color: #000;
    text-decoration: none;
}

/*
*   END Print stylesheet
*/