<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="ak.f1.timing">
      <section name="service" type="AK.F1.Timing.Service.Configuration.Impl.ServiceConfigurationSection, f1service"/>
    </sectionGroup>
    <section name="quartz" type="System.Configuration.NameValueSectionHandler, System, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging"/>
    </sectionGroup>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <ak.f1.timing>
    <service username="" password="">
      <recorder tmsDirectory=".\tms\"/>
      <server>
        <endpoint address="0.0.0.0" port="4532"/>
      </server>
      <races>
        <race id="17-india" name="Indian Grand Prix" location="Jaypee International Race Circuit, Greater Noida, India">
          <session id="practice1" name="Practice 1" startTimeUtc="2011-10-28T05:28:00.0000000Z" />
          <session id="practice2" name="Practice 2" startTimeUtc="2011-10-28T09:28:00.0000000Z" />
          <session id="practice3" name="Practice 3" startTimeUtc="2011-10-29T06:28:00.0000000Z" />
          <session id="qually" name="Qualification" startTimeUtc="2011-10-29T09:28:00.0000000Z" />
          <session id="race" name="Race" startTimeUtc="2011-10-30T09:28:00.0000000Z" />
        </race>
        <race id="18-abu-dhabi" name="Abu Dhabi Grand Prix" location="Yas Marina, Abu Dhabi">
          <session id="practice1" name="Practice 1" startTimeUtc="2011-11-11T08:58:00.0000000Z" />
          <session id="practice2" name="Practice 2" startTimeUtc="2011-11-11T12:58:00.0000000Z" />
          <session id="practice3" name="Practice 3" startTimeUtc="2011-11-12T09:58:00.0000000Z" />
          <session id="qually" name="Qualification" startTimeUtc="2011-11-12T12:58:00.0000000Z" />
          <session id="race" name="Race" startTimeUtc="2011-11-13T12:58:00.0000000Z" />
        </race>
        <race id="19-brazil" name="Brazilian Grand Prix" location="Interlagos, Sao Paulo, Brazil">
          <session id="practice1" name="Practice 1" startTimeUtc="2011-11-25T11:58:00.0000000Z" />
          <session id="practice2" name="Practice 2" startTimeUtc="2011-11-25T15:58:00.0000000Z" />
          <session id="practice3" name="Practice 3" startTimeUtc="2011-11-26T12:58:00.0000000Z" />
          <session id="qually" name="Qualification" startTimeUtc="2011-11-26T15:58:00.0000000Z" />
          <session id="race" name="Race" startTimeUtc="2011-11-27T15:58:00.0000000Z" />
        </race>
      </races>
    </service>
  </ak.f1.timing>
  <quartz>
    <add key="quartz.scheduler.instanceName" value="f1scheduler"/>
    <add key="quartz.threadPool.threadCount" value="2"/>
  </quartz>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.Log4Net.Log4NetLoggerFactoryAdapter, Common.Logging.Log4Net">
        <arg key="configType" value="INLINE"/>
      </factoryAdapter>
    </logging>
  </common>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender, log4net">
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%date{HH:mm:ss.ffff} %level %logger{1}[%thread]: %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender, log4net">
      <file value=".\logs\f1service.exe.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="1MB"/>
      <maxSizeRollBackups value="5"/>
      <layout type="log4net.Layout.PatternLayout, log4net">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.ffff} %level %logger{1}[%thread]: %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="ConsoleAppender"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
    <logger name="AK.F1.Timing.Live">
      <level value="INFO"/>
    </logger>
    <logger name="Quartz">
      <level value="INFO"/>
    </logger>
  </log4net>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin"/>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
